doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="/css/main.css")
    body
        header.p-1-2
            nav
                a.header-link(href="/" class=`${title === 'home' ? '_active' : ''}`) home
                a.header-link(href="/products" class=`${title === 'shop' ? '_active' : ''}`) shop
                a.header-link(href="/cart" class=`${title === 'cart' ? '_active' : ''}`) cart
                a.header-link(href="/orders" class=`${title === 'orders' ? '_active' : ''}`) orders
                a.header-link(href="/admin/add-product" class=`${title === 'add product' ? '_active' : ''}`) add product
                a.header-link(href="/admin/products" class=`${title === 'admin product list' ? '_active' : ''}`) admin products
        main.p-1-2
            block content
